<div class="sidebar-profile">
  <img src="/assets/img/profile.jpg" alt="Gajanan Shinde" class="profile-img">

  <h2>Gajanan Shinde</h2>
  <p>Embedded & Software Engineer</p>

  <a href="mailto:shinde8952@gmail.com">shinde8952@gmail.com</a>
</div>

<hr>

<ul class="sidebar-menu">
  <li><a href="/">Home</a></li>
  <li><a href="/categories/">Categories</a></li>
  <li><a href="/tags/">Tags</a></li>
  <li><a href="/archives/">Archives</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="https://www.linkedin.com/in/">LinkedIn</a></li>
</ul>
